.dashboard-container {
  height: 92vh;
  width: 100vw;
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart-container {
  height: 92vh;
  width: 100vw;
  background-color: bisque;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
