.dashboard-container {
  height: 92vh;
  width: 100vw;
  background-color: aqua;
  display: flex;
  flex-direction: row;
}

.cart-container {
  height: 92vh;
  width: 100vw;
  background-color: bisque;
}
